.app.dark {
    visibility: hidden;
}

.buy_button.dark{
    visibility: hidden;
}

.buy_button2.light{
    visibility: collapse;
}

.buy_button3.dark{
    visibility: collapse;
}

.blocker.light{
    width: 100%;
    height: 100%;
    text-align: center;
    position: center;
    font-family:  Impact;
    font-size: 100px;
}