{% extends 'index.html' %}

{% block title %}Книга №{{ data.model.id }}{% endblock %}

{% block content %}
    <div class = "wrapper">
        <img class="fit-picture" src="http://127.0.0.1:8000/media/images/{{ data.model.image_path }}"/>
        <div> Название: {{ data.model.name }}</div>
        <div>Описание: {{ data.model.description }}</div>
        <div>Цена: {{ data.model.price }} ₽</div>
    <button onclick="window.location.href = '../../../';">Назад</button>
    </div>



{% endblock %}